{% load static %}
<html>
    <head>
        <title>Time tracker</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/timetracker.css' %}">
    </head>
    <body>
        <div class="page-header">

            {% if user.is_authenticated %}
                <a href="{% url 'user_logout' %}" class="top-menu"><span class="glyphicon glyphicon-off"></span></a>
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

                <h1><a href="{% url 'post_list' %}">Time tracker</a></h1>

            {% elif not user.is_authenticated %}

                <h1><a href="/">Time tracker</a></h1>
                
            {% endif %}

        </div>

        <div class="content">
            <div class="row">
                
                    {% block content %}
                    {% endblock %}
                
            </div>
        </div>
    </body>
</html>